<script type="text/javascript">
 $(document).ready(function(){
   
  $("#add_item_button").click(function () {
   $('#add_item_div').show();
  });
  $('select#business_places_attributes_0_address_attributes_country_id').bind('change',function(){
    var country_id = $(":selected", this).val();
    $.getScript("/businesses/update_cities/"+country_id+"?selector_id=business_places_attributes_0_address_attributes_city_id");
  });
  $('select#business_places_attributes_1_address_attributes_country_id').bind('change',function(){
    var country_id = $(":selected", this).val();
    $.getScript("/businesses/update_cities/"+country_id+"?selector_id=business_places_attributes_1_address_attributes_city_id");
  });
  $('select#business_places_attributes_2_address_attributes_country_id').bind('change',function(){
    var country_id = $(":selected", this).val();
    $.getScript("/businesses/update_cities/"+country_id+"?selector_id=business_places_attributes_2_address_attributes_city_id");
  });
  
  $('select#business_mailing_address_attributes_country_id').bind('change',function(){
    var country_id = $(":selected", this).val();
    $.getScript("/businesses/update_cities/"+country_id+"?selector_id=business_mailing_address_attributes_city_id");
  });
  
  $('select#business_billing_address_attributes_country_id').bind('change',function(){
    var country_id = $(":selected", this).val();
    $.getScript("/businesses/update_cities/"+country_id+"?selector_id=business_billing_address_attributes_city_id");
  });
});
</script>


<script type="text/javascript">
 jQuery(document).ready(function(){
  jQuery('.apply').click(function(){
    i = jQuery(this).val();
    alert('#open_hour_'+i+'_apply_to_all');
    if( jQuery(this).is(':checked') ){
      from_hour = jQuery('#open_hour_'+i+'_0_from').val(); // the selected value of the first day ( from hour)
      alert(from_hour);
      to_hour   =  jQuery('#open_hour_'+i+'_'+'0_to').val();  //  the selected value of the first day ( to hour)
      from2_hour = jQuery('#open_hour_'+i+'_'+'0_from2').val(); // the selected value of the first day - if user splits the time( from2 hour)
      to2_hour   =  jQuery('#open_hour_'+i+'_'+'0_to2').val();  //  the selected value of the first day -  if user splits the time ( to2 hour)
      
      jQuery('.from_class_'+i).each(function(index, element){
        jQuery(this).val(from_hour);
        if(from2_hour){
          if(index!=0){
             Split_hour(index,i);
             x =jQuery('#open_hour_'+i+'_'+index+'_from2').val(from2_hour);
           }
        }// if from2_hour end 
      }); // end of .each function
      
      jQuery('.to_class_'+i).each(function(index, element){
        jQuery(this).val(to_hour);
        if(to2_hour){
          if(index!=0){
             x =jQuery('#open_hour_'+i+'_'+index+'_to2').val(to2_hour);
           }
        }// if from2_hour end 
      }); // end of .each function  
    } //end if
  });
});

  function Split_hour(index,i){
    from_to_html = jQuery('#open_hour_'+i+'_'+index+'_from').parent().html();
    
    from_to_html = from_to_html.replace(/from/g, "from2");
    from_to_html = from_to_html.replace(/to/g, "to2");
    closed1_label ="<label> Closed? </label>";
    closed2_checkbox_html = "<input type='checkbox' value='1' name='open_hour"+"_"+i+"["+index+"][closed2]' />" ;
    final_html_part = from_to_html + closed1_label+closed2_checkbox_html ;
    jQuery('#open_hour_div_'+i+'_'+index).append("<p>"+final_html_part+"</p>");
  };
</script>


