        <ul class="top_nav">
          <li>SignIn</li>
          <li>Profile</li>
        </ul>

        <div id="account_nav" class="span-9">
          <div class="right span-2">
            <a class="user-profile-image"><img style="wdith:64px; height:64px" src="/images/gappy.png"></a>
          </div>
          <div class="nav right span-5">
            <h3 class="company_name"> <%= current_user.email %></h3>
              <ul>
            	<li><a href="#">Settings</a></li>
            	<li><%= link_to "Help", "#" %> </li>
            	<li><%= link_to "Signout", destroy_user_session_path %></li>
            </ul>
          </div>
        </div>

