  <style type="text/css" media="screen">
  .ui-widget-header{
    background:none;
    }
  </style>
  <div id="mono-tab" class="tabs span-23" >
    <ul>
      <li><a href="#first"><img src="/images/cards.png" alt="" /></a></li>
      <li><a href="#second"><img style="width:128px" src="/images/king.png" alt="" /></a></li>
      <li><a href="#third"><img style="width:128px" src="/images/king.png" alt="" /></a></li>
    </ul>

    <div id="first">
      To build your card <a href='/businesses/1/campaigns/new'>click here </a>
    </div>

    <div id="second">
      SDFASD FASD
    </div>

    <div id="third">
      sdfasdf sadf asdf sadf sdaf sad
    </div>
  </div>
