<% title "Edit Item" %>

<%= render 'form' %>

<p>
  <%= link_to "Show",  business_place_item_path(@measurement_type) %> |
  <%= link_to "View All", business_place_items_path(@business,@place) %>
</p>
