<% title "Measurement Type" %>

<p>
  <strong>Name:</strong>
  <%= @measurement_type.name %>
</p>

<p>
  <%= link_to "Edit", edit_measurement_type_path(@category) %> |
  <%= link_to "Destroy", @measurement_type, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", measurement_types_path %>
</p>
