<% title "Newsletters" %>
<style type="text/css" media="screen">
  body{
    background: url(/images/home/yellow.1.png) repeat-x;
  }
</style>

            <div class="logo">
              <%= image_tag "home/cashbery-hp-logo.png", :width =>"200px"%>
              <h2 class="hide">CashBery.com</h2>
            </div>
            <div class="slogan buggy">
              <%= image_tag "home/rewardcardonyourphoneinasnap.png" %>
            </div>
            <div class="content-box bo">
              <div class="content-header">
                <%= image_tag "home/funfreeforvergreen.png" %>
              </div>
                <div class="white-container">
<p> With <span class="company-name">Cashbery</span> on your phone, carrying your rewards cards never been easier. No more paper card to bring, no more forgetting, no more fat wallets to deal with. Cashbery smarter way to go. 
</p>
<p>
  <span class="company-name">Cashbery</span> is in private beta today. Like Us on facebook to stay tuned.
</p>
            <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
            <fb:like-box href="http://www.facebook.com/pages/Cashbery/148587535202968" width="570" connections="10" show_faces="true" stream="false" header="false"></fb:like-box>
            <style type="text/css" media="screen">
              .fbConnectWidgetTopmost{ border-width:0;}
            </style>
                <div>

            </div>
            </div>

