<% title "Reward" %>

<p>
  <strong>Name:</strong>
  <%= @reward.name %>
</p>
<p>
</p>

<p>
  <%= link_to "Edit", edit_business_campaign_reward_path(@business, @campaign, @reward) %> |
  <%= link_to "Destroy", business_campaign_engagement_path(@business, @campaign,  @reward), :confirm => 'Are you sure?', :method => :delete %> | 
  <%= link_to "Back to List", business_campaign_rewards_path(@business, @campaign ) %>
</p>
