body{
  background:url(/images/bg.png) repeat-x;
}

.container{
  text-align:left;
}

#payload {
}
#header {
  height:60px;
  padding:10px;
}

#header .logo{
  background:url("../images/business/header.png") no-repeat scroll 2px 6px transparent;
display:block;
float:left;
height:60px;
margin:0 10px 0 0;
padding:0;
position:relative;
width:150px;
text-indent:-999px;
}


#header ul.top_nav{
  margin-top:20px;
  float:left;
  list-style:none;
  width:200px;
}

#header  ul.top_nav li{
  float:left;
  width:50px;
}
#account_nav{
  float:right;
}

.user-profile-image {
  margin-left:10px;
  -moz-border-radius:3px 3px 3px 3px;
  display:block;
  overflow:hidden;
  float:right;
}

#account_nav{
  float:right;
  margin-right:0;
}

#account_nav ul{
  margin:0;
  padding:0;
  float:right;
}

#account_nav ul li{
  float:left;
  list-style:none;
  margin-left:10px;
}

#account_nav ul li a{
  display:block;
}

h3.company_name{
  text-align:right;
  color:#171717;
  display:block;
  font-size:18px;
  height:22px;
  margin-top:5px;
  overflow:hidden;
  white-space:nowrap;
  margin:0;
  padding-top:10px;
}

.nav{
  text-align:right;
}

.content{
  padding:30px 20px 0 20px;
  margin-bottom:20px;
}

body{
}

label{
  display:block;
}

p{
  margin:0;
}
label.tt{
  display:inline;
}



input.title.double, select.double{
  width:400px;
  float:none;
}

input.title{
  width:193px;
  float:left;
}

::-webkit-input-placeholder {
    color:#c2c2c2;
}
:-moz-placeholder {
    color:#c2c2c2;
  }

.ui-widget-header{
    background:none;
}
