/** monopoly forms **/


.mono-form label{ display:block;margin:0;padding:5px 0 0 0;line-height:1.4em;font-size:1em;}
.mono-form input, .mono-form label, .mono-form textarea { width: 400px;}
.mono-form input.half{width:193px; display:inline}
.mono-form .hide{display:none}
.mono-form select {width:412px}
.tabs .ui-tabs-panel{padding:5px 0 }
.mono-form fieldset{-moz-border-radius: 3px;border-radius: 3px; border-color:#d2d2d2; width:410px;  }

/** monopoly tables **/
th, td {border:0 none}
.mono-table th{ text-transform:capitalize;
background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 67%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(67%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 67%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 67%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 67%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #eeeeee 0%,#cccccc 67%); /* W3C */}
.mono-table tr.even{ }
.mono-table td,.mono-table th{ min-width:100px;padding:10px; border-left: 1px solid #ccc; border-top:1px solid #ccc;}


#main_header h1{ margin:20px 0 15px 0; font-size:1.8em;}
#leftContainer { padding:30px;}

tbody tr:nth-child(2n) td, tbody tr.even td { background: none repeat scroll 0 0 #F6F6F6; }
