/** monopoly forms **/
.mono-form label{ display:block;margin:0;padding:5px 0 0 0;line-height:1.4em;font-size:1em;}
.mono-form input, .mono-form label, .mono-form textarea { width: 400px;}
.mono-form input.role_box { width: 22px;}
.mono-form input.half{width:193px; display:inline}
.mono-form .hide{display:none}
.mono-form select {width:132px;}
.tabs .ui-tabs-panel{padding:5px 0 }
.mono-form fieldset{-moz-border-radius: 3px;border-radius: 3px; border-color:#d2d2d2; width:410px;  }

/** monopoly tables **/
th, td {border:0 none}
.mono-table th{ text-transform:capitalize;
background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 67%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(67%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 67%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 67%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 67%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #eeeeee 0%,#cccccc 67%); /* W3C */}
.mono-table tr.even{ }
.mono-table td,.mono-table th{ padding:5px 10px; border-left: 1px solid #ccc; border-top:1px solid #ccc;}
.user_account td{ width: 1px;}

#main_header h1{ margin:20px 0 15px 0; font-size:1.8em;}
#leftContainer { padding:30px;}

tbody tr:nth-child(2n) td, tbody tr.even td { background: none repeat scroll 0 0 #F6F6F6; }

input.radio {
    width: auto;
}

select.time_select {
    width: 100px;
}

label.hours_action {
    display: inline-block;
}

label.hours_action, label.hours_action input {
    width: auto;
}

.day_caption {
    display: inline-block;
    width: 70px;
}

div.split_time { margin-left: 74px; }

.legals_div select{width:auto;margin:0 10px 0 0;}
.legals_div input {width:150px;padding-top:2px;}
.legals_div {position:relative;}
.legals_div a {position:absolute;right:55px;top:10px}
.ui-tabs {width:440px;margin-bottom:20px;}
