#header {
  padding:20px 0 5px 0;
  background:url(/images/bg.png) ;
}

#header .logo{
  background:url("../images/business/header.png") no-repeat scroll 2px 6px transparent;
  display:block;
  float:left;
  height:60px;
  margin:0 10px 0 100px;
  padding:0;
  position:relative;
  width:150px;
  text-indent:-999px;
}


#header ul.top_nav{
  margin-top:20px;
  float:left;
  list-style:none;
  width:200px;
}

#header  ul.top_nav li{
  float:left;
  width:50px;
}
#account_nav{
  float:right;
}

#gray_bg{
  height:100px;
background: #606c88; /* Old browsers */
background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606c88), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* W3C */
}

.user-profile-image {
  margin-left:10px;
  -moz-border-radius:3px 3px 3px 3px;
  display:block;
  overflow:hidden;
  float:right;
}

#account_nav{
  float:right;
  margin-right:0;
}

#account_nav ul{
  margin:0;
  padding:0;
  float:right;
}

.nav ul li{
  float:left;
  list-style:none;
  margin-left:10px;
}

.nav ul li a{
  display:block;
}

h3.company_name{
  text-align:right;
  color:#171717;
  display:block;
  font-size:18px;
  height:22px;
  margin-top:5px;
  overflow:hidden;
  white-space:nowrap;
  margin:0;
  padding-top:10px;
}

.nav{
}

.content{
  padding:30px 20px 0 20px;
  margin-bottom:20px;
}

body{
}

label{
  display:block;
}

p{
  margin:0;
}
label.tt{
  display:inline;
}



input.title.double, select.double{
  width:400px;
  float:none;
}

input.title{
  width:193px;
  float:left;
}

::-webkit-input-placeholder {
    color:#c2c2c2;
}
:-moz-placeholder {
    color:#c2c2c2;
  }

.ui-widget-header{
    background:none;
}


#gray_bg ul{
  margin:0;
  padding:0;
}

ul li.box{
  padding:0;
  padding-left:30px;
  list-style:none;
  width: 170px;
  height:100px;
  border:1px solid red;
  float:left;
  display:block;
  background:transparent;
}

#biztools_nav a.icon{
  margin-top:15px;
  height:50px;
}
#biztools_nav .button{
   background:url(/images/receipt-icon-biztools.jpg) no-repeat;
   height:60px;
   text-align:center;
}
#biztools_nav li.box a{
  display:block;
}

a span{
  height:38px;
  display:block;
  font-weight:900;
  font-size:16px;
  color:#fff;
}

.nav.brand .company_name{
  text-align:left;
}
.nav.brand ul{
  margin:0;
  padding:0;
}
.nav.brand ul li{
  text-align :left;
  margin-left:0;
  margin-right:5px;
}
