@charset "UTF-8";
/* CSS Document */




/* General
----------------------------------------------- */
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
select,input,button,
textarea,button{font:99% arial,helvetica,clean,sans-serif;}
table{font-size:inherit;font:100%;}
/* pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;} */

body {

  margin: 0 auto;
  text-align: left;
}


@font-face {
font-family:"Museo Slab";
src:url(Museo_Slab_500.otf);
}




p { font-size: 108%; }

img {
  border: 0;
}

#wrap {
  margin: 0 auto;
  background:url("/images/background-v3.png") repeat-x scroll 0 0 #FFFFFF;
}

.ui-dialog {
  font-size: 15px;
  text-align: left;
}

.flashes {
  display: none;
}

/* Header
----------------------------------------------- */




#wrap #header, #header {
  margin: 0 auto;
  padding: 0px;
  height: 130px;
  background:url("../images/admin/header_bg.png") repeat-x scroll 0 0 #FFFFFF;}
#header h1{margin:0 0 0 20px;}
#header .user_menu{margin:20px 20px 0 0;float:right;text-align:right;color:#999;880px}
#header .user_menu a{color:#999;}
#header .user_menu p{margin:3px 0 0 0}
.cushbury_logo{ float: left;background:url("../images/admin/logo.png") no-repeat;height:100px;width:200px;text-indent:-1000px;clear:both;}
a.cushbury_logo:hover{;background:url("../images/admin/logo.png") no-repeat;}
/*.wrapper{width:1000px;margin:0 auto;}
*/
#header_logo {
  float: left;
  width: 250px;
}

#header_menu {
  color: #DDD;
  float: right;
  font-size: 16px;
  padding: 20px 25px 0 0;
}

#header_menu a, #header_menu span {
  margin-left: 10px;
}

#header_menu a:link, #header_menu a:visited {
  color: #888;
  text-decoration: none;
}

#header_menu a:hover {
  border-bottom: 1px solid #444;
  color: #444;
}

#gradient_bg {
  background: #FFF url(/images/main_bg.png) center top no-repeat;
  margin: 30px auto 0;
/*  width: 925px;
*/}
#main {
  width: 100%;
}
#side{float:left;width:134px;padding-left:20px;}
	#side h2{width:100%;font-size:2em;text-align:left;color:#dddee0;}
	#side ul{margin:0;padding:0;}
	#side li{list-style:none;margin:5px 20px 6px 0;float:left;display:block;width:100%}
	#side li a{color:#979ba4;text-decoration:none;font-size:1.2em;font-weight:bold;float:left;display:block;width:100%}
	#side li a.menu_item{color:#fcea00}  
	#side li ul.sub_menu a{color:#979ba4;text-decoration:none;font-size:0.9em;font-weight:bold;float:left;display:block;width:100%}
	#side h2.settings{color:#fcea00;font-size:1.8em;}

#side ul.sub_menu{ margin-left:15px;}
#canvas {
margin: 0 auto;
padding: 0 20px 20px;
width:100%;
min-width:600px;
}
#leftContainer{min-width:600px;float:left;width:984px;position:relative;padding:20px;border: 1px solid #eee;min-height:555px}

#left_main {
float: left;
width: 500px;

}

#right_main {
float: right;
}

#main_header {

/*background:url("/images/background-white.png") no-repeat scroll 0 0 transparent;*/
margin:-45px 0 10px -25px;
padding:20px 20px 0;
position:relative;
width:880px;
height: 150px;
}



#main_header_scvngr {
  float: left;
}

#main_content .subcap {
  color: #7f7f7f;
  font-size: 123.1%;
}

#main_content .subcap_desc {
  color: #999999;
  font-size: 108%;
}

/* Forms
----------------------------------------------- */

#errorExplanation {
  display: none;
}

/* Footer
----------------------------------------------- */


/* InfoBox
----------------------------------------------- */
.info_box {
  cursor: auto;
  font-size: 90%;
  height: 76px;
  padding: 10px;
}

.info_box a { color: #5F7BB5; }

.info_box .place_heading {
  color: #5F7BB5;
  display: inline-block;
  float: left;
  font-size: 130%;
  font-weight: bold;
  letter-spacing: -0.04em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.info_box.has_reward .place_heading {
  width: 159px;
}

.info_box .place_heading {
  width: 185px;
}

.info_box .place_address_wrap {
  width: 160px;
}

.info_box .place_name_info,
.info_box .place_address {
  float: none !important;
  overflow: hidden;
  text-overflow: ellipsis;
  o-text-overflow: ellipsis;
  white-space: nowrap;
}

.info_box .place_name_wrap { cursor: pointer; margin-bottom: 5px; }

.info_box span {
  display: block;
  margin: 2px 0;
  white-space: nowrap;
}

.info_box .place_address {
  clear: both;
  color: #666;
  float: left;
  font-size: 100%;
}

.info_box .place_reward {
  display: inline-block;
  float: right;
  height: 40px;
  width: 30px;
}

.info_box .place_address_wrap { clear: left; float: left; }
/*side forms and side photo forms*/
.side_photo_form {  padding: 10px;    width: 180px; position:relative; text-align:center;}
.userImg_container{
  width:186px;
  height:186px;
  overflow: hidden;
}
img.user_default_image  { /*width:135px; height:135px;*/ padding:5px; background:url(/assets/white_box_bg.png); -khtml-border-radius: 10px; -moz-border-radius: 10px; -opera-border-radius: 10px; -webkit-border-radius: 10px; border-radius:10px;}
.side-form { margin: 0; padding: 10px; width: 270px;}
.add_children_form .side-form {
  width:auto;
}
.side_form_button {-khtml-border-radius: 10px; -moz-border-radius: 10px; -opera-border-radius: 10px; -webkit-border-radius: 10px; border-radius:10px; background: #6098a6; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6098a6', endColorstr='#3f6a76'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#6098a6), to(#3f6a76)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #6098a6,  #3f6a76); /* for firefox 3.6+ */
  webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; -khtml-border-radius:5px; border-radius:5px; 
  border:1px solid #3f7dac; padding:7px 11px 3px; border:1px solid #3F7DAC; font-weight:bold; font-size:11px; text-shadow:-1px -1px 0 #444; color:#fff !important;line-height: 17px;  margin-top: 10px; position:relative; z-index:9999;margin-left: 80px;}
  
a.side_form_button:hover {background: #3f6a76; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f6a76', endColorstr='#6098a6'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#3f6a76), to(#6098a6)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #3f6a76,  #6098a6); /* for firefox 3.6+ */
  text-decoration:none;}
.clear_image_link { top: -20px; }  
.fake_file_input {background: url("/images/fake_file_input.png") no-repeat scroll center top transparent; height: 24px; margin-top: 10px;    width: 62px; margin-left: 25px;}
.fake_file_input:hover {background-position:0 100%; cursor:pointer;}
.fake_file_input input{opacity:0;}
.fake_file_input input[type="file"]:hover{cursor:pointer !important;}

a.side_form_button.confirm_actions {background-image: url("/images/icon/confirm_actions.png");    border: medium none;    color: #444444 !important;    height: 13px;    margin: -5px 32px 0 0;     text-shadow: 1px 1px 0 #FFFFFF; }
a.confirm_actions.approve {background-position:0 0; }
a.confirm_actions.cancel {background-position:0 100%; }
a.confirm_actions.approve:hover {color:#85ad13 !important; background-position:-94px 0;}
a.confirm_actions.cancel:hover {color:#eb2b06 !important; background-position:-94px 100%;}

.side_form_link_wrapper { margin:10px 0 0px; overflow: hidden;}
.side_photo_form input.side_form_button {width:130px;}
.side_photo_form small {width:175px !important;font: 11px/15px Tahoma, Geneva, sans-serif !important;}

.side-form label {width:100%; clear:both; text-indent:5px;}
.side-form input.input-text {/*width:180px;*/background: url("/images/small_input_bg.jpg") repeat-x scroll 0 0 transparent;    height: 37px;    padding: 0;    text-indent: 10px;width:100%; clear:both}

.side-form .birthday select {margin: 4px 5px 0 0;    padding:8px;}
.side-form .field_with_errors {float:none;}

.side-form .input_error_message {background:url(/images/icon/input_error.png) no-repeat; color: #FF0000;    font-weight: normal;    line-height: 14px; text-align: justify;    width: 91%; text-indent:0; }
.switching_code_container {fmargin-top:10px;}
.edit_info_form .save_btn.margin-top {margin-top:145px;}

.template-upload .preview {display: block;   /* height: 135px; */   overflow: hidden;    width: 135px; border:3px solid #fff; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
.template-upload .preview img {width:135px;}