@charset "UTF-8";
/* CSS Document */




/* General
----------------------------------------------- */
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
select,input,button,
textarea,button{font:99% arial,helvetica,clean,sans-serif;}
table{font-size:inherit;font:100%;}
/* pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;} */

body {

  margin: 0 auto;
  text-align: left;
}


@font-face {
font-family:"Museo Slab";
src:url(Museo_Slab_500.otf);
}




p { font-size: 108%; }

img {
  border: 0;
}

#wrap {
  margin: 0 auto;
  background:url("/images/background-v3.png") repeat-x scroll 0 0 #FFFFFF;
}

.ui-dialog {
  font-size: 15px;
  text-align: left;
}

.flashes {
  display: none;
}

/* Header
----------------------------------------------- */




#wrap #header, #header {
  margin: 0 auto;
  padding: 0px;
  height: 130px;
  background:url("../images/admin/header_bg.png") repeat-x scroll 0 0 #FFFFFF;}
#header h1{margin:0 0 0 20px;}
#header .user_menu{margin:20px 20px 0 0;float:right;text-align:right;color:#999;880px}
#header .user_menu a{color:#999;}
#header .user_menu p{margin:3px 0 0 0}
.cushbury_logo{ float: left;background:url("../images/admin/logo.png") no-repeat;height:100px;width:200px;text-indent:-1000px;clear:both;}
a.cushbury_logo:hover{;background:url("../images/admin/logo.png") no-repeat;}
/*.wrapper{width:1000px;margin:0 auto;}
*/
#header_logo {
  float: left;
  width: 250px;
}

#header_menu {
  color: #DDD;
  float: right;
  font-size: 16px;
  padding: 20px 25px 0 0;
}

#header_menu a, #header_menu span {
  margin-left: 10px;
}

#header_menu a:link, #header_menu a:visited {
  color: #888;
  text-decoration: none;
}

#header_menu a:hover {
  border-bottom: 1px solid #444;
  color: #444;
}

#gradient_bg {
  background: #FFF url(/images/main_bg.png) center top no-repeat;
  margin: 30px auto 0;
/*  width: 925px;
*/}
#main {
  width: 100%;
}
#side{float:left;width:150px;padding-left:20px;}
	#side h2{width:100%;font-size:2em;text-align:left;color:#dddee0;}
	#side ul{margin:0;padding:0;}
	#side li{list-style:none;margin:5px 20px 6px 0;float:left;display:block;width:100%}
	#side li a{color:#979ba4;text-decoration:none;font-size:1.2em;font-weight:bold;float:left;display:block;width:100%}
	#side li a.menu_item{color:#fcea00}
	#side li ul.sub_menu a{color:#979ba4;text-decoration:none;font-size:0.9em;font-weight:bold;float:left;display:block;width:100%}
	#side h2.settings{color:#fcea00;font-size:1.8em;}

#side ul.sub_menu{ margin-left:15px;}
#canvas {
margin: 0 auto;
padding: 0 20px 20px;
width:100%;
min-width:600px;
}
#leftContainer{min-width:600px;float:left;width:1020px;position:relative;padding:20px;border: 1px solid #eee;min-height:555px}

#left_main {
float: left;
width: 500px;

}

#right_main {
float: right;
}

#main_header {

/*background:url("/images/background-white.png") no-repeat scroll 0 0 transparent;*/
margin:-45px 0 10px -25px;
padding:20px 20px 0;
position:relative;
width:880px;
height: 150px;
}



#main_header_scvngr {
  float: left;
}

#main_content .subcap {
  color: #7f7f7f;
  font-size: 123.1%;
}

#main_content .subcap_desc {
  color: #999999;
  font-size: 108%;
}

/* Forms
----------------------------------------------- */

#errorExplanation {
  display: none;
}

/* Footer
----------------------------------------------- */


/* InfoBox
----------------------------------------------- */
.info_box {
  cursor: auto;
  font-size: 90%;
  height: 76px;
  padding: 10px;
}

.info_box a { color: #5F7BB5; }

.info_box .place_heading {
  color: #5F7BB5;
  display: inline-block;
  float: left;
  font-size: 130%;
  font-weight: bold;
  letter-spacing: -0.04em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.info_box.has_reward .place_heading {
  width: 159px;
}

.info_box .place_heading {
  width: 185px;
}

.info_box .place_address_wrap {
  width: 160px;
}

.info_box .place_name_info,
.info_box .place_address {
  float: none !important;
  overflow: hidden;
  text-overflow: ellipsis;
  o-text-overflow: ellipsis;
  white-space: nowrap;
}

.info_box .place_name_wrap { cursor: pointer; margin-bottom: 5px; }

.info_box span {
  display: block;
  margin: 2px 0;
  white-space: nowrap;
}

.info_box .place_address {
  clear: both;
  color: #666;
  float: left;
  font-size: 100%;
}

.info_box .place_reward {
  display: inline-block;
  float: right;
  height: 40px;
  width: 30px;
}

.info_box .place_address_wrap { clear: left; float: left; }
