.home-menu ul li{
	display:inline;
}

.home-menu ul li a{
  color:red;
  font-weight:bold;
  text-decoration:none;
}

.home-menu ul.home{
	margin-top:100px;
}
#content{

	padding-top:30px;
}
.bo{
	border:green 1px solid;
}

.home-sprite{
	background: url(/images/homeSprite.png) no-repeat top left;
}
