 <style type="text/css" media="screen">
 .clear{
  clear:both;
 }
 
  h1,p{
    margin:0;
    padding:0;
  }
.single_card{
height: 200px;
width: 340px;
float:left;
}


.single_card_content	{
margin: 0 auto;
width: 300px;
}

.single_card_header		{
height: 50px;
text-align: center;
}

.single_card_header h1	{
margin-top:15px;
font: bold 25px Arial;
color: #fff;
}

.single_card_header p	{
font: bold 8px Arial;
color: #fff;
}

.single_card_qr			{
height: 100px;
background-color: #fff;
padding: 5px;
border-radius: 3px; 
-moz-border-radius: 3px; 
-webkit-border-radius: 3px; 
-khtml-border-radius: 3px;
}

.single_card_qr_left	{
float: left;
height: 100px;
width: 90px;
padding-right: 5px;
text-align: center;
}

.single_card_qr_left .qr		{
}

.single_card_qr_left .text h1	{
font: bold 7px Arial;
color: #111;
}

.single_card_qr_left .text p	{
font: bold 4px Arial;
color: #222;
}

.single_card_qr_right	{
float: left;
height: 90px;
width: 185px;
padding: 5px;
background-color: #CC3433;
}

.single_card_qr_right h1		{
margin-bottom:2px;
font: bold 8px Arial;
color: #fff;
}
.single_card_qr_right p{
font: normal 6px Arial;
color: #fff;
}

.single_card_qr_right .space{
margin-left: 40px;
}

.single_card_qr_right p.step	{
font: bold 6px Arial;
margin-top: 3px;
}

.single_card_qr_right p.des		{
margin-bottom: 5px;
}
.single_card_qr div.snap{
  font:bold 6px Arial;
  }
.single_card_qr div.snap_bt{
  font: 4px Arial;
}


 </style>
<% i=1 %>
<% for qrcode in @qrcodes %>
 <div class="single_card">

        <div class="single_card_content">
        
                <div class="single_card_header">
                </div>
                
                <div class="single_card_qr">
                
                        <div class="single_card_qr_left">
                        
                                <div class="qr">
                                <%= wicked_pdf_image_tag "qrcodes/#{qrcode.hash_code}.png" %>
                                </div>

                        
                        </div>
                        

                        
                        <div class="clear"></div>
                
                </div>
        
        </div>

</div> 
  
  <% if i%2 ==0 %>
    <div class="clear">
    </div>
    <% if i%10==0 %>
      <div style="height:17px">
        
      </div>
    <% end %>
  <% end %>
  <% i+=1 %>
<% end %>


