<ul>
	<li><%= link_to "Categories", categories_path %></li>
	<li><%= link_to "Businesses", businesses_path %></li>
	<li><%= link_to "Places", places_path %></li>
	<li><%= link_to "Campaigns", campaigns_path %></li>
</ul>