<% title "Business Signup" %>
<style type="text/css" media="screen">
  body{
   background: url(/images/bg.png) repeat ;
  }

label{
  display:block;
}

p{
  margin:0;
}
label.tt{
  display:inline;
}
input.text, input[type="search"], textarea, input[type="text"], input[type="email"], input[type="password"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4) inset, 0 2px 1px 0 rgba(0, 0, 0, 0.2) inset, 0 2px 3px 0 rgba(0, 0, 0, 0.2) inset, 0 1px 0 0 rgba(255, 255, 255, 0.8);
    color: #202122;
    line-height: 18px;
    padding: 6px 6px 4px;
  }



input.text:focus, input[type="search"]:focus, textarea:focus, input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
  box-shadow: inset 0 0 2px 2px #f0f000;
}

input.title.double, select.double{
  width:400px;
  float:none;
}

input.title{
  width:193px;
  float:left;
}

::-webkit-input-placeholder {
    color:#c2c2c2;
}
:-moz-placeholder {
    color:#c2c2c2;
  }

  .ui-widget-header{
    background:none;
  }

  #head{
    height:150px;
  }

</style>
<script type="text/javascript" language="javascript" charset="utf-8">
  //<![CDATA[
  var map;
  var geocoder;
  var marker;
   function initialize() {
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var myOptions = {
      zoom: 8,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    geocoder = new google.maps.Geocoder();
    marker = new google.maps.Marker({map:map});
  }

  var MonoV1 = {
    find_place_on_map:function(e){
      var strAddress = "";
      var stAddress = [];
      var address = [];

      var $stAdd1 = jQuery('#street-address1');
      var $stAdd2 = jQuery('#street-address2');
      var $crossStreet = jQuery('#cross-street');

      if($stAdd1.val()!="") stAddress.push($stAdd1.val());
      if($stAdd2.val()!="") stAddress.push($stAdd2.val());
      if(stAddress.length>0) {
        strAddress += stAddress.join(" ,");
        if($crossStreet.val()!=""){
          strAddress+=" at "+$crossStreet.val();
        }
      }

      var $city = jQuery('#city');
      var $neighborhood = jQuery('#neighborhood');
      if($neighborhood.val()!="") address.push($neighborhood.val())
      if($city.val()!="") address.push($city.val());
      strAddress += address.join(" ,");

      geocoder.geocode( { 'address': strAddress }, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          map.setZoom(16);
          map.setCenter(results[0].geometry.location);
          marker.setPosition(results[0].geometry.location);
        } else {
          //alert("Geocode was not successful for the following reason: " + status)
          //better error handling needed
        }
      });
    },
    add_registration_validation:{
    }

  }

  jQuery(function(){
      jQuery.EnablePlaceholder.defaults.withPlaceholderClass = 'title';

      jQuery('input.title[type=text]').enablePlaceholder();
      jQuery('.tabs').tabs();

      jQuery('#cross-street, #street-address1, #city,#neighborhood').blur(MonoV1.find_place_on_map);
      jQuery('form#step1').validate(MonoV1.add_registration_validation);
      initialize();
  });
//]]>
</script>


<div id="step1" class="mono-business-register span-12 last">
  <form id="step1" action="action" method="post" accept-charset="utf-8">
  <p>
    <label class="hide" for="company-name" >Company Name</label>
    <input type="text" class="title double" name="" value="" id="" placeholder="Company Name"/>
  </p>

  <p>
    <label class="hide" for="email">Email</label>
    <input class="title double email" placeholder="Email Address" type="text" name="" value="" id=""/>
  </p>

  <p>
    <label class="hide" for="id">Create Password</label>
    <input placeholder="Create password" class="title" type="password" name="" value="" id=""/>
  </p>

  <p class="clearfix">
    <label class="hide" for="id">Verify password</label>
    <input placeholder="Verify passwords" class="title " type="password" name="" value="" id=""/>
  </p>

  <p>
    <label class="hide" for="id">Country of operation</label>
    <input class="title double" type="text" name="" value="" id="country" placeholder="Country"/>
  </p>

</div>

<div id="step2" class="mono-business-register span-24">
  <strong> Thank you for confirmation!</strong>
</div>

<div id="step3" class="mono-business-register span-24" >
  <b>
    Primary Branch
  </b>
  <p>
    <label class="hide"for="id">Place Name</label>
    <input class="title double" placeholder="Place name" type="text" name="" id=""/>
  </p>

  <p class="clearfix" >
    <label class="hide" for="id">Street Address</label>
    <input class="title" type="text" placeholder="Street address" name="" value="" id="street-address1"/>
    <label class="hide" for="id">Street Address Optional</label>
    <input class="title" placeholder="Optional ..." type="text" name="" value="" id="street-address2"/>
  </p>
  <p class="clearfix" >
    <label class="hide" for="id">City</label>
    <input class="title" placeholder="City" type="text" name="" value="" id="city"/>
    <label class="hide" for="id">Neighborhood</label>
    <input class="title" placeholder="Neighborhood" type="text" name="" value="" id="neighborhood"/>
  </p>
  <p class="clearfix">
    <label class="hide" for="id">Cross street</label>
    <input class="title double phone" placeholder="Cross street" type="text" name="" value="" id="cross-street"/>
  </p>


  <div id="map_canvas" style="width:412px; height:400px"></div>
  <p class="clearfix">
    <label class="hide" for="id">Phone</label>
    <input class="title double phone" placeholder="Phone" type="text" name="" value="" id=""/>
  </p>
  <div class="hide">
    <ul>
    	<li>Import 4Square</li>
    	<li>Add Hours of operation</li>
    	<li>Add Place type</li>
    </ul>
  </div>
</div>

</form>


  <div id="mono-tab" class="tabs span-24" >
    <ul>
      <li><a href="#first"><img src="/images/cards.png" alt="" /></a></li>
      <li><a href="#second"><img style="width:128px" src="/images/king.png" alt="" /></a></li>
      <li><a href="#third"><img style="width:128px" src="/images/king.png" alt="" /></a></li>
    </ul>

    <div id="first">
      To build your card <a href='/businesses/1/campaigns/new'>click here </a>
    </div>

    <div id="second">
      SDFASD FASD
    </div>

    <div id="third">
      sdfasdf sadf asdf sadf sdaf sad
    </div>
  </div>
