<% title "CashBery.com | Take a snap" %>
<style type="text/css" media="screen">
  body{ background:#eef1f3 url(/images/home/yellow.1.png) repeat-x;}
</style>
<p> With Cashbery on your phone, carrying your rewards cards never been easier. No more paper card to bring, no more forgetting, no more fat wallets to deal with. Cashbery, the smarter way to go. 
</p>
<p>
  Cashbery is in private beta today, Like us on facebook to stay tuned.
</p>
            <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
            <fb:like-box href="http://www.facebook.com/pages/Cashbery/148587535202968" width="570" connections="10" show_faces="true" stream="false" header="false"></fb:like-box>
