<% title "home" %>

<p>
  <span class="company-name">CashBery</span> helps you drive new customer through your doors while existing ones coming back . It's good for your customer , good for your business(cashflow) and good for the planet. 
</p>

<p>
  We are looking for <span class="company-name" >Cashbery</span> loving venues. So tell us a bit about you to participate in our free beta program. 
</p>

<%= render "newsletters/form" %>
