<% title "Edit Engagement" %>

<%= render 'form' %>

<p>
  <%= link_to "Show", business_campaign_engagement_path(@business, @campaign, @engagement) %> |
  <%= link_to "View All", business_campaign_engagements_path(@business, @campaign) %>
</p>
