<% title "Edit Engagement Type" %>

<%= render 'form' %>

<p>
  <%= link_to "Show",  business_engagement_type_path(@measurement_type) %> |
  <%= link_to "View All", business_engagement_types_path(@business) %>
</p>
