<% title "Engagement Type" %>

<p>
  <strong>Name:</strong>
  <%= @engagement_type.name %>
</p>

<p>
  <%= link_to "Edit", edit_business_engagement_type_path(@business,@engagement_type) %> |
  <%= link_to "Destroy", business_engagement_type_path(@business,@engagement_type), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", business_engagement_types_path(@business) %>
</p>
