<%= link_to (image_tag @new_qrcode.qr_code_image.photo.url, :width=>"100px", :height=>"100px"), qr_code_path(@user.qr_code)  %>
<p>Current user ID: <%=@new_qrcode.hash_code%></p>
<p>Type: Digital &nbsp;&nbsp; <%=link_to "Re-issue", "javascript:void(0)", {:id=>"reissue_code"}%><img src="/images/loading.gif" width="16" height="16" alt="Loading" style="display:none;" /></p>

