<% title "Edit Engagement" %>

<%= render 'form' %>

<p>
  <%= link_to "Show", business_engagement_path(@business, @engagement) %> |
  <%= link_to "View All", business_engagements_path(@business) %>
</p>
