<% title "Reports" %>

<table width="100%">
  <tr>
    <th><%= @title %> Name</th>
    <th>Type</th>
  </tr>
	<% unless @reports.empty? %>
	  <% for report in @reports %>
	    <tr>
	      <td><%= link_to report.name, report %></td>
	      <td><%= report.type %></td>
	    </tr>
	  <% end %>
	<% else %>
		<tr>
      <td colspan="2">There are no reports</td>
    </tr>
	<% end %>
</table>
<%= will_paginate @posts %>
