<% title "Reports" %>

<table width="100%">
  <tr>
    <th>Name</th>
    <th>Type</th>
  </tr>
  <% for report in @reports %>
    <tr>
      <td><%= link_to report.name, report %></td>
      <td><%= report.type %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @posts %>
