<% title "Edit Measurement Type" %>

<%= render 'form' %>

<p>
  <%= link_to "Show",  business_measurement_type_path(@measurement_type) %> |
  <%= link_to "View All", business_measurement_types_path(@business) %>
</p>
