<!DOCTYPE HTML>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  </head>
  <style type="text/css" media="screen">
    .yellow{
      background:yellow;
    }
    *{
      margin:0 auto;
      text-align:center;
    }

    #wrapper{
      padding:50px;
    }
  </style>
  <body class="yellow">
    <div id="wrapper" class="yellow">
      <div >
          <a class="user-profile-image"><img style="wdith:64px; height:64px" src="/images/C-mybiz1.png"></a>

          <div id="">
            <%= yield %>
          </div>
      </div>
    </div>
  </body>
</html>
